<label class="m-t-20" for="customerId">Customer:</label>
<div class="input-group">
    <select name="customerId" id="customerId" class="form-control">
        <option th:each="customer : ${customers}" th:text="${customer.name}" th:value="${customer.customerId}"></option>
    </select>
</div>

<!-- Amount -->
<label class="m-t-20" for="taux">Taux d'alerte:</label>
<div class="input-group">
<input type="text" disabled id="taux" th:value="${expenseSettings.taux} + '%'" class="form-control"/>
</div>

<!-- Amount -->
<label class="m-t-20" for="amount">Amount:</label>
<div class="input-group">
<input type="text" id="amount" name="amount" class="form-control" />
</div>

<!-- Date Expense -->
<label class="m-t-20" for="dateExpense">Expense Date:</label>
<div class="input-group">
<input type="text" id="dateExpense" name="dateExpense" placeholder="yyyy-MM-dd" class="form-control" />
</div>

<!-- Budget Dropdown -->
<label class="m-t-20" for="budget">Budget: <span class="font-weight-bold" id="limitation"></span></label>
<div class="input-group">
<select name="budgetId" id="budget" class="form-control">
    <option value="">Select customer's budget</option>
</select>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Amount</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="confirmations" class="mb-3"></div>
                <p>Are you sure you want to proceed with this amount?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="confirmationModal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmSubmit">Confirm</button>
            </div>
        </div>
    </div>
</div>